<div class=" grid-rows-2 mx-auto bg-black overflow-auto p-3 text-white">

  <img src="https://seeklogo.com/images/G/github-logo-7880D80B8D-seeklogo.com.png" alt="Profile Image"
       class="profile-image w-[32px] h-[32px] rounded-full float-left b ml-4 mr-4 bg-white">

  <p class="font-bold mt-1">
    joaoorca
  </p>

  <div class="grid-rows-2 mt-4 ">
    <div class="ml-3 float-left">Overview</div>
    <div class="ml-3 float-left">Repositories</div>
    <div class="ml-3 float-left">Projects</div>
    <div class="ml-3 float-left">Packages</div>
    <div class="ml-3 float-left">Stars</div>
  </div>


</div>
